{% extends "base.html"%}

{% load staticfiles %}



{% block style_block%}

<link rel="stylesheet" href="/static/css/layout_customize.css">
<link rel="stylesheet" href="/static/tioti/assets/plugins/dropify/dist/css/dropify.min.css">


{% endblock %}
{% block body_block %}

<style>
    .all-form input{
        margin-bottom:0
    }
    .avatar-upload {
        position: relative;
        margin-bottom: -20px;
        left: 44%;
        transform: translate(-8%, 2%);
        padding: 18px;
        width: 100%;
    }

    .avatar-edit input {
                width: 0.5px;
                opacity: -5;
    }

    .avatar-edit label:hover {
                        background: #f1f1f1;
                        border-color: #d6d6d6;
                        border-radius: 100%;
                    }
    .avatar-edit label:after {
                content: "\f040";
                font-family: 'FontAwesome';
                color: #757575;
                position: absolute;
                top: 4px;
                left: 5px;
                right: 0;
                text-align: center;
                font-size: 20px;
                margin: auto;
                 
                }     
                .avatar-upload .avatar-preview {
                    width: 100px;
    height: 100px;
    position: relative;
    background: url(/static/img/add.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: 4px solid#eee;
    border-radius: 50%;
}
    .mobile:hover{
     -webkit-appearance: none !important;
    }
        
</style>

    <div class="page-titles" style="text-align:center; font-size:20px;">
      
    </div>
    <!-- <div class="card row " style="background-color: #fff; text-align: center;"> -->
    <div class="card-body new_user">
       

        <form class="form-horizontal" method='post' action="/newuser/" enctype="multipart/form-data" autocomplete="off" data-toggle="modal" id="loginform">
            {% csrf_token %}
            <input type="hidden">
            
            <h3 class="box-title ">Create new user </h3>
            <div class="container p-l-20 p-r-20">
            <div class="form-group " style="margin-top: 26px;">
               
                 
                    <div class="col-xs-12">
                            <input type="text" name="usernames" autofocus="" placeholder="Username"  class="form-control" required="" id="usernames">
                            <span id="tool1" class="tooltiptext" style="display: none;" >Username Alerady Exit</span>
                    </div>
                    
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                        <input type="password"  name="passwords" placeholder="Password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required="" id="passwords">
                        <span id="tool2" class="tooltiptext" style="display: none;" >Password is similar to username</span>
                </div>
            </div>
            <div class="row" style="margin:0; margin-bottom: 30px;margin-top:30px" >
                <div class="register-password-widgets" >
                    <span class="register-widget register-disabled"  id ="one1">
                      8 characters</span>
                    <span class="register-widget register-disabled" id ="one2">
                      1 Special</span>  
                    <span class="register-widget register-disabled"  id ="one3">
                       1 Uppercase</span> 
                    <span class="register-widget register-disabled" id ="one4">
                      1 Numeric</span>     
                        
                </div>
            </div>
       
            <div class="form-group">
                <div class="row" style="margin:0;">
                    <div class="checkbox checkbox-primary pull-left p-t-0" style="padding-left: 8px;">
                        <input id="showpass" onclick="Toggle()" value="" type="checkbox">
                        <label for="showpass"> Show password </label>
                    </div> 
                   
                </div>
                
            </div>
             </div>
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-success btn-lg btn-block text-uppercase "  onclick="OpenModal()" id="create" data-toggle="modal" >Create User</button>
                </div>
            </div>
        
        
            <div class="modal fade all-form" id="popup">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="Title">Update Your Profile</h4>
                    <button type="button" class="close"  data-dismiss="modal" aria-label="Close" style="width:unset">
                      &times;
                    </button>
                  </div>
                  <div class="modal-body">
                     <div class="row">
                                    <div class="avatar-upload">
                                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"  required="" name="profile_pic" style="display:none"/>
                                        
                                        <div class="avatar-preview" for="imageUpload">
                                            <div id="imagePreview" >
                                            </div>
                                        </div>
                                    </div>
                                    
                                 
                                    <div class="col-xs-6 col-sm-6  col-md-6  col-lg-6 p-10">
                                            <div class="form-group ">
                                                  <input type="text" name ="first"class="form-control" style="width: 89%; margin-left: 1rem;" id = "first" placeholder="First Name"required="">
                                              </div>
                                          </div>
                                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-10">
                                
                                            <div class="form-group">
                                                <input type="text" name="last" class="form-control" style="width: 89%;" id ="last" placeholder="Last Name"required="">
                                            </div>
                                        </div>

                            
                               
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                         
                                        <div class="form-group ">
                                              <input type="email"  class="form-control" name="email1" style="width: 89%; margin-left: 1rem; opacity:unset !important" id="email1" placeholder="abc@email.com" aria-label="Email" aria-describedby="basic-addon1" required>
                                              <span id="tool3" class="tooltiptext" style="display: none; color: #fff" >Email Alerady Exits</span>
                                          </div>

                                      </div>
                                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  
                                            <div class="form-group">
                                                <input type="number" class="form-control mobile"  name="mobile1" style="width: 89%; " onKeyPress="if(this.value.length>=10) return false;"   placeholder="Mobile No" id="mobile" type="text" aria-label="Mobile No" aria-describedby="basic-addon1" pattern="[0-9]{10}" title="Enter Atleast 10 digits" required>
                                                <span id="tool4" class="tooltiptext" style="display: none; color: #fff" >Mobile.No Alerady Exits</span>
                                            </div>
                                        </div>
                            
                               
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <select class="form-control"name="levels" id ="levels" style="width: 88%; margin-left: 0.8rem;" required>
                                        <option value="">Select Level</option>
                                        {% for level in levels %}
                                        <option>{{level.user_level}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                         </div>   
                             
                        

                           </div>
                        
                    
                
                  <div class="modal-footer">
                    
                    <button type="submit" style="width: 31%;"  id="save"  class="btn btn-info">Save</button>
                    <!-- <button  style="width: 31%;" onclick="UpdateAll()" id="update" class="btn btn-info">update</button> -->
                  </div>
                
                </div>
            
                 </div>
       
    
                 
             
             
                </div> 
                </div>
            </form>
        
            </div>
        
     <!-- </div> -->
    

<div class="modal fade" id="popup1">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #000;  ">

        <h5 class="modal-title" id="Title" style="color: #fff;">Fill This</h5>
        <button type="button" class="close"  style="color: #fff;" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: #000;">
         <div class="card row p-y-15" style="background-color: grey;  margin: 0rem; margin-bottom: 1rem;">
            <form class="form-horizontal" method='post' action="/username/" enctype="multipart/form-data" data-toggle="modal" id="loginform2">
                {% csrf_token %}
              
                    <div class="row" >
                        <h3 id="head1"  style=" margin-left: 190px; color: #fff ; margin-bottom: -2%;"> </h3>
                        <input type="hidden" id="head33" name="head1" value="">
                        <div class="avatar-upload" sty>
                            <div class="avatar-edit" >
                                <input type='file' id="imageUpload1" accept=".png, .jpg, .jpeg" name ="profile_pic1" value=""/>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview1" >
                                </div>
                            </div>
                        </div>
                       

                    </div> 
                    <div class="row">
                        
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-10">
          
                            <div class="form-group ">
                                  <input type="email" class="form-control" style="width: 89%; margin-left: 1rem;" name="email2" id="email2" placeholder="abc@email.com" aria-label="Email" aria-describedby="basic-addon1" required>
                                  
                              </div>

                          </div>
                          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-10">
      
                                <div class="form-group">
                                    <input type="tel" class="form-control"  style="width: 89%;" onKeyPress="if(this.value.length>=10) return false;"    placeholder="Mobile No"   name="mobile2" id="mobile2"  aria-label="Mobile No" aria-describedby="basic-addon1" pattern="[0-9]{10}" title="Enter number" required>
                                </div>
                            </div>
                  </div> 
                   
             <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-15">
                    <div class="form-group">
                       
                        <select class="form-control" name="levels2" id ="levels1"  style="width: 88%; margin-left: 0.8rem;" required>
                            <option value="">Select Level</option>
                            {% for level in levels %}
                            <option>{{level.user_level}}</option>
                            {% endfor %}
                        </select>
                    </div>
             </div>   
                 
            </div>

               </div>
            
         
    
      <div class="modal-footer" style="background-color: #000;">
        
        <button  style="width: 31%;" type="submit"  id="save2"  class="btn btn-info">Save</button>
        <!-- <button  style="width: 31%;" onclick="UpdateAll()" id="update" class="btn btn-info">update</button> -->
      </div>
    </form>
    
    </div>

     </div>


     
 
 
    </div> 
    </div>

           
    {% endblock %}
    {% block script_block %}
    
    <script type="text/javascript">
    
   function Toggle() { 
            var pass = document.getElementById("passwords");
            var show =document.querySelector('#showpass').checked;
            console.log(show)
            console.log(pass.type);
            
            if (pass.type === "password") { 
                console.log("iiii")
                pass.type = "text"; 
                // console.log("iiii")
            } 
            else { 
                // console.log(show)
                pass.type = "password"; 
                
            } 
        } 
   function OpenModal(){
        
        var username = $('#usernames').val();
        var password = $('#passwords').val();

        if($('#usernames').val() != '' && $('#passwords').val() != ''){
              
            var csrftoken = $( "[name*='csrfmiddlewaretoken']" ).val();
                function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                    }
                });
                
          
            $.ajax({
                    type: "POST",
                    url: "/user_data/",
                    data:{'username':username,
                        'password':password,},
                    headers: {'X-CSRF-Token': csrftoken},
                    success: function (data) {
                        
                        console.log(data)
                        if(data == true){
                           $("#tool1").show();
                            
                            
                        }
                        
                        else{
                            $("#tool1").hide();
                            var pass=/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@%!])[0-9a-zA-Z@%!].{8,}/
                            if(password.match(pass)){
                                 var Chars = 2;
                                 var user = $("#usernames").val().trim().toLowerCase();
                                 var passs = $("#passwords").val().trim().toLowerCase();
                                 
                                 
                                 var invalid= [];
                                 for( var i = 0; i < user.length - Chars; i++ ){
                                     var cur = user[i] + user[i+1];
                                     invalid.push( cur );
                                 }
                                 var invalids = false;
                                 for( var i = 0; i < invalid.length; i++ ){
                                     var cur = invalid[i];
                                     if( passs.indexOf( cur) !== -1 ){
                                     invalids = true;
                                     break;
                                     }
                                 }
                                 
                                 if( invalids ){
                                     
                                     $("#tool2").show()
                                     $('#popup').modal('hide');
                                 }else{
                                     $("#tool2").hide()
                                     $('#popup').modal('show');
                                 }
                                 
                            }
                        }
                            
            }
               
                    
                });          
                
   
        } 
        
    }  

      
   function Update(){
        
        $('tr').each(function() {
             $(this).click(function() {
                var username = $(this).children('td:first-child').text();
                var email = $(this).children('td:first-child +td').text();
                var phone = $(this).children('td:first-child +td +td').text();
                var level = $(this).children('td:first-child +td +td +td').text();
                var Photo = $(this).children('td:first-child +td +td +td +td').find('img').attr('src');
                console.log(username)
                console.log(Photo)
        
               
            var csrftoken = $( "[name*='csrfmiddlewaretoken']" ).val();
                function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                    }
                });
           
                
            $.ajax({
                    type: "POST",
                    url: "/user_data/",
                    data:{'username':username,
                        },
                    headers: {'X-CSRF-Token': csrftoken},
                    success: function (data) {
                        
                        console.log(data)
                        document.getElementById("head1").innerHTML =  username
                        document.getElementById("head33").value=username
                        console.log(document.getElementById("head33").value)
                        document.getElementById('levels1').value = level
                        document.getElementById('email2').value = email
                        document.getElementById('mobile2').value = phone
                        $('#imagePreview1').css('background-image', 'url('+Photo+')')
                        // $('#imageUpload1').removeAttr('required')
                        $('#popup1').modal('show');
                        
                    
            }
               
                    
                          
               });   
                
            });
          
      });    
   
        
        
    } 
     
   function Delete(){
        console.log("hello")
        $('tr').each(function() {
             $(this).click(function() {
                var usernames = $(this).children('td:first-child').text();
                console.log(usernames)
                var csrftoken = $( "[name*='csrfmiddlewaretoken']" ).val();
                function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
               }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                    }
                });

                $.ajax({
                    type: "POST",
                    url: "/user_d/",
                    data:{'usernames':usernames,},
                    headers: {'X-CSRF-Token': csrftoken},
                    success: function (data) {
                        // alert("deteted");
                        $('#loginform').attr('autocomplete','off');
                        // location.reload()
               }
               
                    
                });   
                
              });
            
        });
                
    }
    
    
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);

    }
    
}
$("#imageUpload").change(function() {
    readURL(this);
    
    
});
   function readURL1(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview1').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview1').hide();
            $('#imagePreview1').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);

    }
   }
$("#imageUpload1").change(function() {
    readURL1(this);
    
    
});
    function email_validate(){
        console.log($('#email1').val())
            $.ajax({
                type: "POST",
                url: "/user_e/",
                data:{'email1': $('#email1').val(),},
                
                success: function (data) {  
                     console.log(data)

                     if(data != ""){
                           $("#tool3").show();
                           $("#save").attr('disabled',true)
                            
                        }
                     else{
                         console.log("else")
                         if(data == ""){
                            $("#tool3").hide();
                            $("#save").attr('disabled',false)
                         }
                        
                     }   

                }

            });
        }
$("#email1").change(function(){
    email_validate(this);
})
    function mobile_validate(){
        console.log($('#mobile').val())
            $.ajax({
                type: "POST",
                url: "/user_m/",
                data:{'mobile': $('#mobile').val(),},
                
                success: function (data) {  
                     console.log(data)

                     if(data != ""){
                           $("#tool4").show();
                           $("#save").attr('disabled',true)
                            
                        }
                     else{
                         console.log("else")
                         if(data == ""){
                            $("#tool4").hide();
                            $("#save").attr('disabled',false)
                         }
                        
                     }   

                }

            });
        }
$("#mobile").change(function(){
    mobile_validate(this);
})

    function password(){
    var password = $('#passwords').val();
    var pass1=/(?=.*[A-Z])/
    var pass3=/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@%!])[0-9a-zA-Z@%!].{8,}/
    var pass4=/(?=.*[@%!])/
    var pass5=/(?=.*\d)/
    
        if (password.match(pass1)){
           $("#one3").css({"color" : "#fff", "background" : "#2eb42e"})
        }
        else{
            $("#one3").css({"color" : "rgb(103, 117, 124)", "background" : "#eee"})
        }
        if(password.match(pass3)){
            $("#one1").css({"color" : "#fff", "background" : "#2eb42e"})
        }
        else{
            $("#one1").css({"color" : "rgb(103, 117, 124)", "background" : "#eee"})
        }
        if(password.match(pass4)){
            $("#one2").css({"color" : "#fff", "background" : "#2eb42e"})
        }
        else{
            $("#one2").css({"color" : "rgb(103, 117, 124)", "background" : "#eee"})
        }

        if (password.match(pass5)){
            $("#one4").css({"color" : "#fff", "background" : "#2eb42e"})
        }
        else{
            $("#one4").css({"color" : "rgb(103, 117, 124)", "background" : "#eee"})
        }

        
    
    
 } 
 $("#passwords").keyup(function(){
    password(this);
 }) 





        
    </script>
  


    {% endblock %}