#svg8 {
	width: 100%;
	height: 96%;
}


.trans-center {
	position: absolute;
	font-weight: 600;
	top: 7.5%;
	left: 50%;
	transform: translate(-50%, -11%);
}

h6 {
	line-height: 20px!important;
	font-size: 21px!important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 6px;
	/* line-height: 26px; */
}


.ribbon-danger {
	background: #207133;
}

.mytoast {
	width: '100%';
	/* height: '100%'; */
	font-size: 22px;
}

.font-24 {
	font-size: 40px!important;
}

.jq-toast-wrap {
	width: 740px;
	font-size: 40px!important;
	left: 30%!important;
	top: 550px!important;
}

.row.adjus input {
	font-size: 21px;
	width: 77%;
	font-weight: bolder;
	background: transparent;
	padding: 0 10px;
	border: none;
	padding: 0px;
	color: firebrick;
}

.form-group {
	margin-bottom: 0;
}

.card {
	margin-bottom: 10px!important;
}

.mdi {
	font-size: 35px;
}

.wi {
	font-size: 35px;
}