h3.text-themecolor.m-b-0.m-t-0 {
    position: absolute;
    right: 130px;
}
ul.nav.nav-tabs>li .active.step {
    border-color: #009efb !important;
    color: #009efb ;
  
}
li.paginate_button.active a {
    background: #000 !important;
    border-radius: 50% !important;
    padding: 0 9px !important;
}
li.current5.current6:after {
    background: #009efb !important;
}
li.current7 span {
    border: 3px solid  #009efb !important;
}
div#ShowFacilitiesListModal .dataTables_length {
    display: none;
}
div#ShowFacilitiesListModal .dataTables_filter{
    display: none;
}
li.current7:before {
    background: #009efb !important;
}
td i {
    font-size: 18px !important;
    padding: 10px 12px !important;
    margin: 0 5px;
}
div#ShowFacilitiesListModal .dataTables_info{
    display: none;
}
div#ShowFacilitiesListModal .dataTables_paginate {
    display: none;
}
.form-group select {
    border: none;
    border-bottom: 1px solid #6c757d59 !important;
    border-radius: unset;
}

.dataTable th:after {
  
    display: none;
}
li.paginate_button.active:hover {
    background: transparent !important;
    border-color: transparent !important;
}
.modal-footer button {
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 15px;
}
.modal-header {
    background: #27c6da;
}
.modal-backdrop.show {
    opacity: 0.8;
}
.dt-buttons.btn-group {
    position: absolute;
    right: 0;
    top: -48px;
    z-index: 999;
}

.modal-footer {
    background: #eeeeee7d;
}
.form-group label {
    color: #000;
}
table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: unset !important;
}
input {
    border: none !important;
    border-radius: unset !important;
}
.form-group input {
    border-bottom: 1px solid #6c757d59 !important;
}
button.close {
    color: #fff;
    opacity: 1;
    font-weight: normal;
}
h4.modal-title {
    color: #fff;
    font-weight: 500;
}
.dt-buttons.btn-group button {
    background: #27c6da;
    color: #fff;
    font-weight: bold;
    border: 2px dashed #eee;
}
.actions.clearfix {
    display: none !important;
}
li.paginate_button.active a {
    color: #fff !important;
}
.content.clearfix {
    padding-top: 15px !important;
}
section h2 {
    color: #000;
    
}
.dataTables_filter {
    position: absolute;
    top: -43px;
    left: 0;
    right: 0;
    margin: auto;
}
.steps.clearfix {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

h4.card-title {
    text-align: center;
    color: #000;
    font-size: 24px;
}
.tab-content section h6 {
    text-align: center;
    background: #0a9df8;
    color: #fff;
    font-size: 18px;
    padding: 8px 0;
    font-weight: bold;
    width: 5%;
    margin: 0 auto;
    text-transform: uppercase;
    border-radius: 3px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.tab-content section form {
    border-top: 1px solid #eee;
    padding-top: 25px;
}
li.nav-item .step {
    border: none;
    background: transparent;
    color: unset;
    width: 50px;
    height: 50px;
    border: 3px solid #F3F3F3 !important;
    font-size: 1.3rem;
    border-radius: 50%;
    cursor:pointer;
}
ul.nav.nav-tabs {
    display: table;
    width: 100%;
    table-layout: fixed;
  margin: 0 0 0 90px;
    padding: 30px 0;
    list-style: none;
    border: none;
}
ul.nav.nav-tabs li {
    display: table-cell;
    width: auto;
    vertical-align: top;
    text-align: center;
    position: relative;
    background: #fff;
}
.row.page-titles {
    margin-bottom: 30px;
}
ul.nav.nav-tabs li .step:after {
    content: "";
    width: 404px;
    background: #F3F3F3;
    height: 3px;
    position: absolute;
    top: 25px;
    left: 50px;
}
a.nav-link.step.after:after {
    display: none;
}
.first_step:after {
    background:#009efb !important;
}
.first_step{
    background:#009efb !important;
    color:#fff !important;
}
.second_step{
    background:#009efb !important;
    color:#fff !important;
}
.second_step:after {
    background:#009efb !important;
}
.third_step{
    background:#009efb !important;
    color:#fff !important;
}
.third_step:after {
    background:#009efb !important;
}
.fourth_step{
    background:#009efb !important;
    color:#fff !important;
}
.danger{color: red;}
li.first:after {
    background: #009efb !important;
}.currents:before{
    background: #009efb !important;
}
.current2:after{
    background: #009efb !important;
}
.current2:before{
    background: #009efb !important;
}
.current3:before{
    background: #009efb !important;
}
.current4:after{
    background: #009efb !important;
}
.current5:before{
    background: #009efb !important;
}
.current6:before{
    background: #009efb !important;
}



