{% extends 'base.html' %}
{% block body_block %}
<div class="row">
    <div class="col-12">
        <div class="row">
            {% for folder in img_list %}
                <div class="card" style="width: 18rem;" onclick = "select_this('{{folder}}')">
                        <img class="card-img-top" src="/media/{{folder}}/" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">{{folder}}</p>
                        </div>
                      </div>
{% endfor %}
        </div>
        <div class="card">
            <form action="{%url 'annotate' %}" method = "POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for=""> DataSet:</label>
                    <input type="text" name="dataset" id="folder_selected" class="form-control">
                </div>
                <div class="form-group">
                    <label for=""> Annotate Data: </label>
                    <input type="text" name="annotaion_npy" id="" class="form-control">
                </div>
                <div class ="form-group">
                    <label for="">Image Annote:</label>
                    <input type="text" name="image_npy" id="" class="form-control">
                </div>
                <button type="submit" class="btn btn-success"> Submit</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block script_block %}
<script>
function select_this(folder_name){
    document.getElementById("folder_selected").value = folder_name
    
}
</script>
{% endblock %}