{% extends 'base.html' %}
{% block row_title %} 

<h2 class="text-center w-100">Get Dataset</h2> 

{% endblock %}
{% block body_block %}
<div class="card">
    <div class="row text-center" style="margin:0;padding:0;">
        {% for camera in cameras %}
            <div class="col-sm-4">
                <button class="btn btn-default" onclick="select_cam('{{camera.slug}}')">{{camera.title}}</button></div>
        {% endfor %}
        </div>
</div>
<div class="row">
    <div class = "card w-100">
        <div class="row">
          
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">

                
                    <img id="capture" src="{{current_cam}}" width="100%" >
                
                
                    <form action="{{current_cam}}" method="post" id="capture_form">

                        {% csrf_token %}
                        <div class="form-group">
                            <label for=""> Object Name</label>
                        
                        <input type="text" name="Part_name" class="form-control" value="{{current_part}}">
                    <button class="btn btn-success m-10">Capture</button>
                </div>
                </form>
            </div>
            {% if cap_image %}
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                <div class="row">
                    {% for img in cap_image %}
                    <div class="col-sm-2">
                    <img class="img-thumbnail" src="{{img}}" alt="">
                    </div>
                     {% endfor %}
                    </div>
                    {% if cap_image|length >= 30 %}
                    <form action="{% url 'annotate' %}" method = "POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for=""> DataSet:</label>
                            <input type="text" name="dataset" id="folder_selected" class="form-control" value="{{current_part}}">
                        </div>
                        <div class="form-group">
                            <label for=""> Annotate Data: </label>
                            <input type="text" name="annotaion_npy" id="" class="form-control" value="{{current_part}}_annot.npy">
                        </div>
                        <div class ="form-group">
                            <label for="">Image Annote:</label>
                            <input type="text" name="image_npy" id="" class="form-control" value="{{current_part}}_img.npy">
                        </div>
                        <button type="submit" class="btn btn-success"> Annotate</button>
                    </form>
                    {% endif  %}
                </div> 
                {% endif %}
           
    </div>
    </div>
</div>
{% endblock %}

{% block script_block %}

<script>
    function select_cam(slug) {
        $("#capture_form").attr("action","/detect/capture/"+slug+"/");
        $("#capture").attr("src","/detect/getdata/"+slug+"/");
        
    }
</script>

{% endblock %}