{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
<div class="card">
    <div class="row text-center" style="margin:0;padding:0;">
        {% for camera in zones %}
            <div class="col-sm-4">
                <img src="{% url 'new_webcam' camera.slug %}"  class="img-thumbnail img-fluid">
                <button class="btn btn-default" onclick="select_cam('{{camera.slug}}', '{{camera.title}}')">{{camera.title}}</button></div>
        
        {% endfor %}
        </div>
</div>
{% if not image %}
        
       <a href=" {% url 'detect_objects' %}"><button class="btn btn-primary"> DETECT NOW</button></a> 
        </form>
        {% endif %}
        
        {{data}}
        {% if images %}
       
         
        <div class="row">
          <div class="col-sm-6">
            <h3>Captured IMAGE</h3>
        <img src="{{original_frame0}}" style="width:100%;" class="img">
      </div>
      <div class="col-sm-6">
          <h3>Processed IMAGE</h3>
        <img src="data:image/png;base64,{{ image0 }}" style="width:100%;" class="img">
      </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h3>Captured IMAGE</h3>
      <img src="{{original_frame1}}" style="width:100%;" class="img">
    </div>
    <div class="col-sm-6">
        <h3>Processed IMAGE</h3>
      <img src="data:image/png;base64,{{ image1 }}" style="width:100%;" class="img">
    </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Captured IMAGE</h3>
    <img src="{{original_frame2}}" style="width:100%;" class="img">
  </div>
  <div class="col-sm-6">
      <h3>Processed IMAGE</h3>
    <img src="data:image/png;base64,{{ image2 }}" style="width:100%;" class="img">
  </div>
  </div>

        {% endif %}

        {% endblock %}


{% block script_block %}




<script>
$(document).ready(function () {

$.ajax({
           
           type: 'GET',
           url: "/point1/",
           success: function (data) {

            console.log(data)
         
           }
         
         })

         $.ajax({
           
           type: 'GET',
           url: "/Lpoint1/",
           success: function (data) {

            console.log(data)
         
           }
         
         })         
         
});
    function select_cam(slug, title) {
      console.log(title);
      
        $("#detection_image").attr("action","/detect/object_detection/detect/"+slug+"/");
        $('input[name="ZONE"]').val(title);
        $("#source_img").attr("src","/detect/getdata/"+slug+"/");
        
    }
</script>

{% endblock %}
