{% extends "base.html"%}
 {% load staticfiles%} 
 {% block style_block%}

<link href="/static/assets/plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
<link href="/static/assets/plugins/toast-master/css/jquery.toast.css" rel="stylesheet"> 
<link href="/static/css/display.css" rel="stylesheet">
{% endblock %}
{% block body_block %}
<!-- <h1>trial.html</h1> -->

<style>
#accordion button{
   margin-bottom:0
}
.col-xs-3.col-sm-3.col-md-3.col-lg-3.col-xl-3 {
    padding: 0 10px;
}
.col-xs-3.col-sm-3.col-md-3.col-lg-3.col-xl-3 i {
    font-size: 30px;
    padding: 16px 7px;
}
.btm-modal .modal-dialog {
    width: 85%;
    max-width: 100%;
    float:unset
}

</style>


<div class="page-titles text-center" style="padding:3px; margin: 0 -30px 10px;">
   <div class="row">
      <div class ="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding: 0px 0px 0px 340px;">
         <h2 style="font-size:20px; font-family: serif; color: #0c4010;">POKAYOKE SYSTEMS FOR CITY LEFT HAND SIDE</h2>
      </div>
    
   </div>
</div>

 <div class="row">
    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 col-xl-2">
       <div class="card card-body topbar" id="carddanger" style="z-index:0!important;position:relative!important;  min-height:118px">
            <!-- Row -->
            <div class="row">
               <!-- Column -->
               <div class="col p-r-0 align-self-center text-center">
                  <h2  class="font-light m-b-0" style="color:rgba(255, 255, 255, 255)!important; font-weight: 700;"><i class="mdi mdi-thermometer-lines"></i> <span id="bootmp" > </span> °C</h2>
                  <h6 class="text-muted" style="color:rgba(255, 255, 255, 255)!important;">BOOTH INSIDE TEMPERATURE</h6>
                  <h6 class="text-muted" id="tempdanger" style="color:rgba(255, 255, 255, 255)!important;"></h6>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 col-xl-2">
         <div class="card card-body topbar" id="cardovinside"  style="z-index:0!important;position:relative!important; min-height:118px">
            <!-- Row -->
            <div class="row">
               <!-- Column -->
               <div class="col p-r-0 align-self-center text-center">
                  <h2 class="font-light m-b-0"style="color: rgba(255, 255, 255, 255) !important; font-weight: 700;"><i class="mdi mdi-thermometer-lines"></i> <span id="amb_temp" ></span> °C</h2>
                  <h6 class="text-muted" style="color:rgba(255, 255, 255, 255)!important;"> AMBIENT TEMPERATURE</h6>
                  <h6 class="text-muted" id="ovinsidetemp" style="color:rgba(255, 255, 255, 255)!important;"></h6>
               </div>
               <!-- Column -->
            </div>
         </div>
      </div>
    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 col-xl-2">
       <div class="card card-body topbar " id="card_warn"   style="z-index:0!important;position:relative!important; min-height:118px;">
          <!-- Row -->
          <div class="row">
             <!-- Column -->
             <div class="col p-r-0 align-self-center text-center">
                <h2 class="font-light m-b-0" style="color: rgba(255, 255, 255, 255) !important;  font-weight: 700;"><i class="mdi mdi-water-percent"> </i> <span id="humid" ></span> % RH</h2>
                <h6 class="text-muted" style="color:rgba(255, 255, 255, 255)!important;"> BOOTH INSIDE HUMIDITY</h6>
                <h6 class="text-muted" id="humiddrop" style="color:rgba(255, 255, 255, 255)!important;"></h6>
             </div>
             <!-- Column -->
          </div>
       </div>
    </div>
    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 col-xl-2">
       <div class="card card-body topbar"  style="z-index:0!important;position:relative!important; min-height:118px;">
          <!-- Row -->
          <div class="row">
             <!-- Column -->
             <div class="col p-r-0 align-self-center text-center">
                <h2 class="font-light m-b-0" style="color: rgba(255, 255, 255, 255) !important; font-weight: 700;"><i class="wi wi-windy"></i>  <span id="air_velocity"></span> m/s</h2>
                <h6 class="text-muted" style="color:rgba(255, 255, 255, 255)!important;"> SUPPLY AIR VELOCITY</h6>
             </div>
             <!-- Column -->
          </div>
       </div>
    </div>
    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 col-xl-2">
       <div class="card card-body topbar"  style="z-index:0!important;position:relative!important; min-height:118px">
          <!-- Row -->
          <div class="row">
             <!-- Column -->
             <div class="col p-r-0 align-self-center text-center">
                <h2 class="font-light m-b-0" style="color: rgba(255, 255, 255, 255) !important; font-weight: 700;"><i class="wi wi-windy"> </i>  <span id="air_CFM"></span>  m<sup>3</sup>/min</h2>
                <h6 class="text-muted" style="color:rgba(255, 255, 255, 255)!important;"> SUPPLY AIR VOLUME</h6>
             </div>
             <!-- Column -->
          </div>
       </div>
    </div>
    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 col-xl-2">
       <div class="card card-body topbar" id="cardovsup"  style="z-index:0!important;position:relative!important; min-height:118px">
          <!-- Row -->
          <div class="row">
             <!-- Column -->
             <div class="col p-r-0 align-self-center text-center">
                <h2 class="font-light m-b-0" style="color: rgba(255, 255, 255, 255) !important; font-weight: 700;"><i class="mdi mdi-thermometer-lines"></i> <span id="asu_chamber" ></span> °C</h2>
                <h6 class="text-muted" style="color:rgba(255, 255, 255, 255)!important;"> ASU CHAMBER TEMPERATURE</h6>
                <h6 class="text-muted" id="ovensupply" style="color:rgba(255, 255, 255, 255)!important;"></h6>
             </div>
             <!-- Column -->
          </div>
       </div>
    </div>
 </div>

 <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
       <!-- <marquee id="moving" behavior="scroll" direction="left" style="z-index: 1000;position: absolute;width:40%;top: 48%;left: 20%;transform: translate(-8%, -98%);margin: 0 168px;">
          <div class="row" style="display: -webkit-inline-box;">
             <div class="ribbon-danger  text-center card card-body " style="margin-bottom:0;width: auto;font-size: 30px;margin:0 5px;overflow: hidden;padding: 6px 15px;line-height: 1.25;font-weight: 400;font-weight: 400;">
                <p style="margin: 0;"><i class = "mdi mdi-alert-outline"></i><span id = "margeee"></span></p>
             </div>
          </div>
       </marquee>
       <marquee id="detected" behavior="scroll" direction="left" style="z-index: 1000;display:none;position: absolute;top: 36%;left: 12%;transform: translate(-22%, -98%);margin: 0 142px;">
          <div class="row" style="display: -webkit-inline-box;">
             <div class="ribbon-danger  text-center card card-body " style="margin-bottom:0;width: auto;font-size: 40px;margin:0 5px;overflow: hidden;padding: 6px 15px;line-height: 1.25;font-weight: 400;font-weight: 400;background-color: #008000!important;">
                <p style="margin: 0;"><i class = "mdi mdi-alert-outline"></i><span id = "margeee_detected">YES POINT 1 HITTED </span></p>
             </div>
          </div>
       </marquee> -->
       <div class="card">
          <div class="card-body">
            <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 col-xl-2" style="position: absolute;left: 0;transform: translate(0);">
               <div class="card card-body"  style="    border: none;box-shadow: none;">
                  <!-- Row -->
                  <div class="row">
                     <!-- Column -->
                     <div class="col p-r-0 align-self-center text-center">
                        <h6 class="text-muted" style="color:black!important;">BODY COUNT</h6>
                        <h6 class="text-muted" id="body_count" style="color: red!important;font-size: 60px!important;padding-top: 16px;"></h6>
                     </div>
                     <!-- Column -->
                  </div>
               </div>
            </div>
            <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4 col-xl-2" style="position: absolute;left: 78%;">
               <div class="card card-body"  style="width : 281px;    border: none;box-shadow: none;">
                  <!-- Row -->
                  <div class="row">
                     <!-- Column -->
                     <div class="col p-r-0 align-self-center text-center">
                        <h6 class="text-muted" style="color:black!important;">DIGI CLOCK</h6>
                        <h6 class="text-muted" id="clock" style="color: red!important;font-size: 60px!important;padding-top: 16px;"></h6>
                     </div>
                     <!-- Column -->
                  </div>
               </div>
            </div>
             <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="276.082mm" height="112.876mm" viewBox="0 0 276.082 110.876" version="1.1" id="svg8" inkscape:version="0.92.4 (33fec40, 2019-01-16)" sodipodi:docname="carbody.svg">
                <defs
                   id="defs2" />
                <sodipodi:namedview
                   id="base"
                   pagecolor="#ffffff"
                   bordercolor="#666666"
                   borderopacity="1.0"
                   inkscape:pageopacity="0.0"
                   inkscape:pageshadow="2"
                   inkscape:zoom="0.98994949"
                   inkscape:cx="635.85132"
                   inkscape:cy="155.22402"
                   inkscape:document-units="mm"
                   inkscape:current-layer="layer1"
                   showgrid="false"
                   inkscape:window-width="1853"
                   inkscape:window-height="1025"
                   inkscape:window-x="67"
                   inkscape:window-y="27"
                   inkscape:window-maximized="1"
                   units="mm" />
                <metadata
                   id="metadata5">
                   <rdf:RDF>
                      <cc:Work
                         rdf:about="">
                         <dc:format>image/svg+xml</dc:format>
                         <dc:type
                            rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                         <dc:title></dc:title>
                      </cc:Work>
                   </rdf:RDF>
                </metadata>
                <g
                   inkscape:label="Layer 1"
                   inkscape:groupmode="layer"
                   id="layer1"
                   transform="translate(0,-186.124)">
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 256.57874,235.79529 -14.96709,-9.88897 -11.49259,-8.28536 -12.96257,-8.41898 -13.63075,-7.34992 -10.69078,-3.87541 -17.77342,-3.20723 -14.83346,-0.80181 h -14.69982 l -18.57524,1.46998 -19.51067,2.6727 -13.898015,3.20723 -11.225321,2.93997 -14.298919,4.54358 -19.243408,7.08264 -4.677214,1.87089 -2.806332,-0.4009 -8.15172,7.08264 -2.020454,0.77132 -2.834822,-0.75595 -2.551339,-0.0945 -3.96875,1.03943 -3.307292,1.6064 -3.590773,3.30729 0.566964,0.37798 2.078869,-0.56697 0.94494,1.13393 -0.188988,2.74033 -1.133928,3.59077 -2.173363,6.04762 -2.362352,4.53572 -0.377976,1.13393 0.09449,1.5119 1.228423,0.66146 1.700893,-0.18899 0.755952,0.28348 -0.755952,21.82813 0.322483,0.41475 0.467722,0.0668 0.868626,-0.26727 0.133634,-1.00226 2.176285,-0.53496 8.031994,-0.66146 16.536458,-0.85044 9.071427,-0.56697 9.638395,-0.18899 6.992559,0.0945 0.566963,1.5119 1.322916,1.79539 1.984375,-0.28348 1.417413,-0.75596 v -1.5119 l 3.496278,-0.47247 h 6.331101 5.291666 l 1.748142,0.89769 4.488466,6.09487 h 2.740329 7.181545 l 1.88989,0.18899 0.8032,2.03162 0.33073,5.05543 0.42522,2.17336 8.7407,0.75596 5.19717,-0.0945 5.48066,-0.85044 1.41741,0.94494 5.66964,0.37797 4.06324,-1.5119 38.06254,0.19205 61.87289,-0.93545 -0.0316,1.4521 -0.85045,0.14174 -0.11811,0.4016 h 6.04762 l -0.21261,-0.49609 -1.06306,-0.21261 v -1.15755 l 6.94531,0.18898 0.37798,0.94494 0.94494,0.0945 1.27567,-0.18899 0.56696,-0.75595 0.0472,-1.13393 -1.18118,-1.18117 -0.51972,-4.53572 0.0945,-5.66964 1.41741,-8.22098 3.40178,-8.22099 4.63021,-5.66964 2.36234,-2.45685 -0.56695,-3.59077 z"
                      id="path826"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 107.57598,206.79655 5.47903,-2.53906 13.63074,-1.87089 20.04522,-2.13815 6.41447,0.4009 1.60361,1.73725 4.00905,36.34866 1.73725,23.25244 -0.80181,6.68174 -1.46998,1.60362 -10.55715,0.53454 -10.42351,0.13363 -7.61718,-1.20271 -5.87993,-3.0736 -5.47903,-4.27631 -8.41899,-13.63075 -8.41899,-16.30344 -2.539055,-7.34991 -0.133636,-1.87089 0.53454,-3.4745 z"
                      id="path828"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 168.51344,199.71391 -2.64396,0.54732 -1.03944,1.13393 v 1.88989 l 2.83482,12.85119 3.68527,17.29241 3.30729,12.94568 2.36235,8.69345 2.92932,6.70908 2.17336,4.25223 2.17337,2.07887 2.36235,1.88988 46.58556,1.22842 2.74033,-0.75595 3.30729,-1.6064 1.98437,-2.83482 0.28349,-5.10268 -0.94494,-6.61458 -1.6064,-7.84301 -2.74033,-13.70163 -0.94494,-4.44122 -1.79539,-2.26786 -20.31622,-13.04018 -7.843,-4.34672 -7.55953,-3.49629 -7.18154,-2.92931 -8.22099,-1.88988 z"
                      id="path830"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 73.900022,216.95279 15.368,-6.81537 8.285353,-2.27179 2.138156,0.4009 1.202709,1.73725 -1.202709,3.0736 -5.612659,7.08264 -3.073598,3.60814 -2.80633,0.66818 -2.672696,-0.66818 -8.018087,-2.67269 -3.608139,-3.60814"
                      id="path832"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 57.329314,234.45894 3.608139,-6.28083 1.650031,-2.68696 1.795386,-1.13393 h 1.228423 l 0.47247,1.79538 -0.566963,1.6064 -0.283482,0.85045 1.322916,1.41741 0.661459,1.41741 -1.511906,2.74033 -13.985118,27.68675 -1.322917,0.37798 -0.755952,0.18899 -0.94494,-1.7009 2.645833,-8.59895 3.401785,-10.86682 z"
                      id="path834"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 79.312929,242.1221 -9.165921,17.29241 h 4.913691 l 8.126487,-0.47247 -0.09449,-7.46503 -2.456846,-6.89807 z"
                      id="path836"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 20.443139,253.65037 0.755953,-1.6064 3.307291,1.22843 1.984376,1.22842 h 9.35491 l 0.472469,8.69345 -11.433778,0.28348 -4.535715,-0.28348 0.283482,-9.16592"
                      id="path838"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 17.702812,266.78504 21.261159,-0.47247 0.661459,1.6064 -0.377976,0.47247 -20.127231,1.32292 -1.417411,1.03943 z"
                      id="path840"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 51.05921,227.8535 -1.700892,1.22842 -1.13393,2.26786 0.944941,2.92931 0.944941,1.79539 0.283482,1.6064 -0.188989,4.53571 -0.188987,1.51191 1.039434,0.66146 1.6064,-2.92932 1.228423,-3.77976 2.078868,-6.04762 -1.039434,-3.02381 -2.267857,-0.75595 z"
                      id="path842"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 27.624686,237.3029 4.15774,-1.6064 2.36235,-1.13393 3.685268,-1.32291 4.441219,-1.88988 0.661458,1.41741 -1.795386,0.47247 -1.511905,2.92931 -5.008184,1.51191 -5.858629,1.70089 z"
                      id="path844"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 45.862037,250.15409 -0.09449,4.15774 -2.456844,5.19717 0.188986,3.2128 1.606399,0.28348 0.850448,-3.49628 2.267855,-5.57515 v -4.81919 l -0.28348,-3.02381 -1.795388,0.28348 z"
                      id="path846"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 74.493734,230.02686 3.874257,-0.66146 2.267855,-1.70089 0.566965,1.88988 -0.188987,1.6064 0.661459,2.74033 h -1.700896 l -1.511903,-1.13393 -0.188989,1.6064 h -3.590774 z"
                      id="path848"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 40.75936,264.98966 12.378719,-1.7009 8.88244,-0.66145 h 7.465031 l 8.031993,-0.28349 0.944941,1.41742 -1.889881,0.94493 z"
                      id="path850"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 64.477366,267.06853 6.898063,-0.66146 1.700895,-0.75596 h 1.41741 l 0.283483,3.02381 -10.394347,0.37798 z"
                      id="path852"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 95.376918,253.36689 2.740327,7.74851 3.401785,0.85045 0.28348,-2.07887 -1.6064,-3.59078 -3.212793,-2.83482 z"
                      id="path854"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 119.4729,275.28951 6.3311,-1.32292 5.38616,1.32292 3.11831,-0.47247 -0.75596,8.50446 -3.30729,-0.0945 -4.44122,-2.36235 z"
                      id="path856"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 141.20653,276.9904 v 4.8192 l -1.88988,1.5119 4.44122,0.75595 3.87425,-0.0945 100.16369,0.0945 -0.18898,-6.80357 -85.51712,0.28348 -15.02455,1.03944 z"
                      id="path858"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 256.11129,242.78356 -1.13393,2.26785 0.94494,2.17337 -0.37797,3.96875 1.5119,1.22842 0.94494,-0.28348 1.32292,-2.17337 -1.22842,-2.92931 v -1.70089 l -0.66146,-2.55134 z"
                      id="path860"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 247.41784,249.11466 -0.0945,4.53571 1.03943,1.13393 1.13393,-0.47247 0.47247,-3.2128 -0.75596,-2.45684 -0.94494,-0.85045 z"
                      id="path862"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 245.62245,236.83043 2.26786,-0.37797 1.32291,-1.03944 1.79539,0.28348 1.32292,2.17337 v 3.30729 l -0.28348,1.22842 h -1.32292 l -3.96875,-0.0945 -1.51191,-1.22843 z"
                      id="path864"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 164.45207,219.8215 0.37797,8.40997 3.11831,12.18974 4.91368,16.72544 1.7009,3.59077 1.03943,-0.85044 -0.94494,-4.53572 -3.49628,-10.58333 -3.49628,-13.51265 -0.56696,-4.7247 -1.51191,-8.12649 z"
                      id="path866"
                      inkscape:connector-curvature="0" />
                   <path
                      style="fill:#d3d3d3;fill-opacity:1;stroke:#666666;stroke-width:0.96499997;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                      d="m 160.48332,220.67195 2.26785,37.32515 0.0945,5.29166 0.18899,3.3073 -1.6064,-0.28349 -2.07887,-45.82961 z"
                      id="path868"
                      inkscape:connector-curvature="0" />
                   <ellipse
                      style="opacity:1;vector-effect:none;fill:#e5ff80;fill-opacity:1;stroke:#666666;stroke-width:1.06125462;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                      id="path894"
                      cx="241.94247"
                      cy="232.24417"
                      rx="5.435884"
                      ry="4.8722768">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#0f0;#00ff00;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </ellipse>
                   <ellipse
                      style="opacity:1;vector-effect:none;fill:#e5ff80;fill-opacity:1;stroke:#666666;stroke-width:1.06125462;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                      id="dummy1"
                      cx="241.94247"
                      cy="232.24417"
                      rx="5.435884"
                      ry="4.8722768" />
                   <ellipse
                      style="opacity:1;vector-effect:none;fill:#e5ff80;fill-opacity:1;stroke:#666666;stroke-width:1.06125462;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                      id="path894-3"
                      cx="246.47289"
                      cy="270.65936"
                      rx="5.4358845"
                      ry="4.8722768">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#0f0;#00ff00;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </ellipse>
                   <ellipse
                      style="opacity:1;vector-effect:none;fill:#e5ff80;fill-opacity:1;stroke:#666666;stroke-width:1.06125462;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                      id="dummy2" onclick="changerect(evt)" text="HH"
                      cx="246.47289"
                      cy="270.65936"
                      rx="5.4358845"
                      ry="4.8722768" />
                   <text x="243" y="265" style="font-size: 9px;
                      font-family: cursive;" fill="green" >P1</text>
                   <ellipse
                      style="opacity:1;vector-effect:none;fill:#e5ff80;fill-opacity:1;stroke:#666666;stroke-width:1.06125462;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                      id="path894-8"
                      cx="179.19315"
                      cy="271.60431"
                      rx="5.4358845"
                      ry="4.8722768">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#0f0;#00ff00;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </ellipse>
                   <ellipse
                      style="opacity:1;vector-effect:none;fill:#e5ff80;fill-opacity:1;stroke:#666666;stroke-width:1.06125462;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                      id="dummy3"
                      cx="179.19315"
                      cy="271.60431"
                      rx="5.4358845"
                      ry="4.8722768" />
                   <text x="175" y="265" style="font-size: 9px;
                      font-family: cursive;" fill="green" >P2</text>
                   <ellipse
                      style="opacity:1;vector-effect:none;fill:#e5ff80;fill-opacity:1;stroke:#666666;stroke-width:1.06125462;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                      id="path894-9"
                      cx="155.38063"
                      cy="273.49417"
                      rx="5.4358845"
                      ry="4.8722768">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#0f0;#00ff00;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </ellipse>
                   <ellipse
                      style="opacity:1;vector-effect:none;fill:#e5ff80;fill-opacity:1;stroke:#666666;stroke-width:1.06125462;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                      id="dummy4"
                      cx="155.38063"
                      cy="273.49417"
                      rx="5.4358845"
                      ry="4.8722768" />
                   <text x="150" y="265" style="font-size: 9px;
                      font-family: cursive;" fill="green" >P3</text>
                   <ellipse
                      style="opacity:1;vector-effect:none;fill:#e5ff80;fill-opacity:1;stroke:#666666;stroke-width:1.06125462;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                      id="path894-92"
                      cx="108.70058"
                      cy="262.91086"
                      rx="5.4358845"
                      ry="4.8722768">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#0f0;#00ff00;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </ellipse>
                   <ellipse
                      style="opacity:1;vector-effect:none;fill:#e5ff80;fill-opacity:1;stroke:#666666;stroke-width:1.06125462;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                      id="dummy5"
                      cx="108.70058"
                      cy="262.91086"
                      rx="5.4358845"
                      ry="4.8722768" />
                   <ellipse
                      style="opacity:1;vector-effect:none;fill:#e5ff80;fill-opacity:1;stroke:#666666;stroke-width:1.06125462;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                      id="path894-1"
                      cx="66.556236"
                      cy="215.66383"
                      rx="5.4358845"
                      ry="4.8722768">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#0f0;#00ff00;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </ellipse>
                   <ellipse
                      style="opacity:1;vector-effect:none;fill:#e5ff80;fill-opacity:1;stroke:#666666;stroke-width:1.06125462;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                      id="dummy6"
                      cx="66.556236"
                      cy="215.66383"
                      rx="5.4358845"
                      ry="4.8722768" />
                   <path
                      style="display:none;fill:none;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                      d="m 240.67621,233.5235 c 0,0 14.31181,17.0338 6.5481,36.34865 l -2.93997,3.87542"
                      id="line1error"
                      inkscape:connector-curvature="0"
                      sodipodi:nodetypes="ccc"
                      inkscape:label="#path969">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#f00;#ff0000;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </path>
                   <path
                      style="display:none;fill:none;stroke:#00ff00;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                      d="m 240.67621,233.5235 c 0,0 14.31181,17.0338 6.5481,36.34865 l -2.93997,3.87542"
                      id="line11"
                      inkscape:connector-curvature="0"
                      sodipodi:nodetypes="ccc"
                      inkscape:label="#path969">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#0f0;#00ff00;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </path>
                   <path
                      style="display:none;fill:none;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                      d="m 244.28434,273.74757 c 0,0 -60.83898,1.4002 -64.05177,-1.24564 l -0.66146,-0.0472"
                      id="line2error"
                      inkscape:connector-curvature="0"
                      sodipodi:nodetypes="ccc"
                      inkscape:label="#path971">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#f00;#ff0000;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </path>
                   <path
                      style="display:none;fill:none;stroke:#00ff00;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                      d="m 244.28434,273.74757 c 0,0 -60.83898,1.4002 -64.05177,-1.24564 l -0.66146,-0.0472"
                      id="line2"
                      inkscape:connector-curvature="0"
                      sodipodi:nodetypes="ccc"
                      inkscape:label="#path971">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#0f0;#00ff00;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </path>
                   <path
                      style="display:none;fill:none;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                      d="m 180.23257,272.50193 -24.85193,1.03944"
                      id="line3error"
                      inkscape:connector-curvature="0"
                      inkscape:label="#path973"
                      sodipodi:nodetypes="cc">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#f00;#ff0000;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </path>
                   <path
                      style="display:none;fill:none;stroke:#00ff00;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                      d="m 180.23257,272.50193 -24.85193,1.03944"
                      id="line3"
                      inkscape:connector-curvature="0"
                      inkscape:label="#path973"
                      sodipodi:nodetypes="cc">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#0f0;#00ff00;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </path>
                   <path
                      style="display:none;fill:none;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                      d="m 155.38064,273.54137 c 0,0 -40.8783,1.5e-4 -48.56994,-10.63058 l -1.45285,-2.008"
                      id="line4error"
                      inkscape:connector-curvature="0"
                      sodipodi:nodetypes="csc"
                      inkscape:label="#path975">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#f00;#ff0000;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </path>
                   <path
                      style="display:none;fill:none;stroke:#00ff00;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                      d="m 155.38064,273.54137 c 0,0 -40.8783,1.5e-4 -48.56994,-10.63058 l -1.45285,-2.008"
                      id="line4"
                      inkscape:connector-curvature="0"
                      sodipodi:nodetypes="csc"
                      inkscape:label="#path975">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#0f0;#00ff00;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </path>
                   <path
                      style="display:none;fill:none;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                      d="m 105.81851,261.25714 c 0,0 -23.129807,-8.753 -28.206472,-21.21391 L 66.178257,211.9785"
                      id="line5error"
                      inkscape:connector-curvature="0"
                      sodipodi:nodetypes="csc"
                      inkscape:label="#path977">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#f00;#ff0000;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </path>
                   <path
                      style="display:none;fill:none;stroke:#00ff00;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                      d="m 105.81851,261.25714 c 0,0 -23.129807,-8.753 -28.206472,-21.21391 L 66.178257,211.9785"
                      id="line5"
                      inkscape:connector-curvature="0"
                      sodipodi:nodetypes="csc"
                      inkscape:label="#path977">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#0f0;#00ff00;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </path>
                   <path
                      style="display:none;fill:none;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1"
                      d="m 105.81851,261.25714 c 0,0 -23.129807,-8.753 -28.206472,-21.21391 L 66.178257,211.9785"
                      id="path50"
                      inkscape:connector-curvature="0"
                      sodipodi:nodetypes="csc"
                      inkscape:label="#path977">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#f00;#ff0000;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </path>
                   <path
                      style="display:none;opacity:1;vector-effect:none;fill:none;fill-opacity:1;stroke:#ff0000;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dashoffset:0;stroke-opacity:1"
                      d="m 240.67621,233.5235 -61.1051,38.93123"
                      id="path981"
                      inkscape:connector-curvature="0">
                      <animate
                         attributeType="XML"
                         attributeName="stroke"
                         values="#fff;#f00;#ff0000;#fff"
                         dur="0.8s"
                         repeatCount="indefinite" />
                   </path>
                </g>
             </svg>
             <audio id="audio1" src="/static/audio/LEFT_POINT.mp3" ></audio>
             
             <audio id="audio4" src="/static/audio/LEFT_GUN_PARKED.mp3" ></audio>
             
            
          </div>
       </div>
    </div>
 </div>







{% endblock %} {% block script_block %}

<script src="/static/assets/plugins/toast-master/js/jquery.testtoast.js"></script>
<script src="/static/assets/plugins/sweetalert/sweetalert.min.js"></script>

<script type="text/javascript">

function play1() {
	var audio = document.getElementById("audio1");
	audio.play();
}

function play4() {
	var audio = document.getElementById("audio4");
	audio.play();
}



var check1 = false;
var check2 = false;
var check3 = false;



$("#path894").hide();
$("#dummy1").hide();
$("#path894-92").hide();
$("#dummy5").hide();
$("#path894-1").hide();
$("#dummy6").hide();
var gunparked = true


function test_load() {


$.ajax({
    url: "/Lpoint1/",
    passive: true,
    success: function(data) {
        console.log("Test Load Datap1", data);
        if (data == true) {


            check1 = true;

            
            var postData_2 = [{
                   "id": "HONDANVH.TIPS.M724",
                   "v": false
               }]
               $.ajax({
                   url: "https://10.116.112.70:39320/iotgateway/write",
                   type: 'POST',
                   contentType: 'application/json',
                   data: JSON.stringify(postData_2),
                   success: function(data) {
   
                   }
               });
               var postData_3 = [{
                   "id": "HONDANVH.TIPS.M726",
                   "v": false
               }]
               $.ajax({
                   url: "https://10.116.112.70:39320/iotgateway/write",
                   type: 'POST',
                   contentType: 'application/json',
                   data: JSON.stringify(postData_3),
                   success: function(data) {
   
                   }
               });
               

            var postData = [{
                "id": "HONDANVH.TIPS.M722",
                "v": true
            }]
            $.ajax({
                url: "https://10.116.112.70:39320/iotgateway/write",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(postData),
                success: function(data) {
                    //   console.log(data);

                }
            });
            play1();
            // $("#line2error").hide();
            // $("#line2").show();
            $("#path894-3").show();
            $("#dummy2").hide();
            $("#dummy2").css("stroke", "rgb(0, 255, 0)");
            $.toast({
                heading: '<h3 class="text-white font-24">POINT DETECTED 1</h3></br>',
                text: '<h4 style="font-size:36px;color:#fff;">Signal sent to Graco System.</h4>',
                position: 'mid-center',
                // position-class: '',
                loaderBg: '#1e88e5',
                cssClass: "text-white mytoast",
                icon: 'success',
                hideAfter: 3000,
                stack: 1
            });




        }
    }
});


$.ajax({
    url: "/Lpoint2/",
    passive: true,
    success: function(data) {
        console.log("Test Load Data", data);

        if (data == true) {
           check2 = true;
           var postData_3 = [{
                   "id": "HONDANVH.TIPS.M726",
                   "v": false
               }]
               $.ajax({
                   url: "https://10.116.112.70:39320/iotgateway/write",
                   type: 'POST',
                   contentType: 'application/json',
                   data: JSON.stringify(postData_3),
                   success: function(data) {
   
                   }
               });
               

            var postData = [{
                "id": "HONDANVH.TIPS.M722",
                "v": false
            }]
            $.ajax({
                url: "https://10.116.112.70:39320/iotgateway/write",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(postData),
                success: function(data) {
                    //   console.log(data);

                }
            });

            var postData_2 = [{
                "id": "HONDANVH.TIPS.M724",
                "v": true
            }]
            $.ajax({
                url: "https://10.116.112.70:39320/iotgateway/write",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(postData_2),
                success: function(data) {
                    //   console.log(data);

                }
            });
            play1();
            // $("#line3error").hide();
            // $("#line3").show();
            $("#path894-3").show();
            $("#path894-8").show();
            $("#dummy3").hide();
            $("#dummy3").css("stroke", "rgb(0, 255, 0)");
            $.toast({
                heading: '<h3 class="text-white font-24">POINT DETECTED 2</h3><br/>',
                text: '<h4 style="font-size:36px;color:#fff;">Signal sent to Graco System.</h4>',
                position: 'mid-center',
                loaderBg: '#1e88e5',
                cssClass: "text-white mytoast",
                icon: 'success',
                hideAfter: 3000,
                stack: 1
            });

        }




    }
});


$.ajax({
    url: "/Lpoint3/",
    passive: true,
    success: function(data) {
        console.log("Test Load Data", data);

        if (data == true) {

            check3 = true;
            var postData_2 = [{
                   "id": "HONDANVH.TIPS.M724",
                   "v": false
               }]
               $.ajax({
                   url: "https://10.116.112.70:39320/iotgateway/write",
                   type: 'POST',
                   contentType: 'application/json',
                   data: JSON.stringify(postData_2),
                   success: function(data) {
   
                   }
               });
               

            var postData = [{
                "id": "HONDANVH.TIPS.M722",
                "v": false
            }]
            $.ajax({
                url: "https://10.116.112.70:39320/iotgateway/write",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(postData),
                success: function(data) {
                    //   console.log(data);

                }
            });
            var postData_3 = [{
                "id": "HONDANVH.TIPS.M726",
                "v": true
            }]
            $.ajax({
                url: "https://10.116.112.70:39320/iotgateway/write",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(postData_3),
                success: function(data) {
                    //   console.log(data);

                }
            });

            play1();
            $("#line3error").hide();
            // $("#line3").show();
            $("#path894-8").show();
            $("#dummy3").hide();
            $("#dummy4").css("stroke", "rgb(0, 255, 0)");
            $.toast({
                heading: '<h3 class="text-white font-24">POINT DETECTED 3</h3></br>',
                text: '<h4 style="font-size:36px;color:#fff;">Signal sent to Graco System.</h4>',
                position: 'mid-center',
                loaderBg: '#1e88e5',
                cssClass: "text-white",
                icon: 'success',
                hideAfter: 3000,
                stack: 1
            });

        }

    }
});



if (check1 == true && check2 == true && check3 == true) {
    $.ajax({
        type: 'GET',
        url: "/Lpoint4/",
        success: function(data) {
            if (data) {

                check4 = true;
                $("#line3error").hide();
                $("#line2error").hide();
               //  $("#line3").show();
                $("#path894-9").show();
                $("#dummy3").hide();
                swal({
                    title: "Success",
                    text: "Signal sent to Graco System.",
                    type: "success",
                    timer: 4000,
                    showConfirmButton: false,
                });
                play4();

                setTimeout(function() {

                    check1 = false;
                    check2 = false;
                    check3 = false;

                    var postData = [{
                        "id": "HONDANVH.TIPS.M791",
                        "v": true
                    }]
                    $.ajax({
                        url: "https://10.116.112.70:39320/iotgateway/write",
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(postData),
                        success: function(data) {

                            location.reload()
                        }
                    });

                    location.reload()
                }, 3000);




            }
        }
    });

}

$.ajax({
   type: 'GET',
   url: "/kep/",
   success: function (data) {
      if(data){
         $("#bootmp").html(data.readResults[0].v / 10);
         }
      }
   });

$.ajax({
   type: 'GET',
   url: "/airvelocity/",
   success: function (data) {
      if(data){
         $("#air_velocity").html(data.readResults[0].v / 100);
         $("#air_CFM").html(parseFloat(data.readResults[0].v * 0.216).toFixed(2));
         }
      }
   });

$.ajax({
   type: 'GET',
   url: "/kephumid/",
   success: function (data) {
      if(data){
         $("#humid").html(data.readResults[0].v / 10);
         }
      }
   });

$.ajax({
   type: 'GET',
   url: "/asuchamber/",
   success: function (data) {
      if(data){
         $("#asu_chamber").html(data.readResults[0].v / 10);
         }
      }
   });

$.ajax({
   type: 'GET',
   url: "/ambtemp/",
   success: function (data) {
      if(data){
         $("#amb_temp").html(data.readResults[0].v / 10);
         }
      }
   });
   $.ajax({
      type: 'GET',
      url: "/production_count/",
      success: function (data) {
         if(data){
            $("#body_count").html(data.readResults[0].v);
            }
         }
      });


};
        
function starttime() {
   var today = new Date();
   var h = today.getHours();
   var m = today.getMinutes();
   var s = today.getSeconds();
    m= checkTime(m);
    s = checkTime(s);
     document.getElementById('clock').innerHTML = 
     h +":"+ m +":" + s;
     var t = setTimeout(starttime, 500);
}
function checkTime(i){
   if (i < 10) {
      i = "0"+ i
   };
   return i
}





$(document).ready(function () {
   starttime();
	setInterval(function () {
      test_load();
	}, 1000);
});


</script>

{% endblock %}