{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Taikisha -SuperVisory">
    <meta name="author" content="tss">
    <link rel="shortcut icon" href="{% static "img/favicon.ico"%}"/>
    <title>TSS -Login</title>
    <link href="{% static 'tioti/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'tioti/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'tioti/css/colors/blue.css' %}" id="theme" rel="stylesheet">
    
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register" style="background-image:url(/static/img/login-background.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form class="form-horizontal form-material"  method="POST">
                        {% csrf_token %}
                        <h3 class="box-title m-b-20">Sign In</h3>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                    {% render_field form.username class="form-control" placeholder="Username"  %}
                                <!-- <input class="form-control" type="text" required="" placeholder="Username" name = "account_name">  -->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                    {% render_field form.password class="form-control" placeholder="Password"  %}
                                <!-- <input class="form-control" type="password" required="" placeholder="password" name="password"> </div> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row"style="margin:0;">
                                <div class="checkbox checkbox-primary pull-left p-t-0" style="width:50%;">
                                    <input id="checkbox-signup" type="checkbox">
                                    <label for="checkbox-signup"> Remember me </label>
                                </div> 
                                <div class="pull-right p-t-0" style="width:50%;padding-left: 16px;">
                                        <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot Password?</a>
                                </div>
                            </div>
                        </div>
                        

                        {% if form.errors %}
                        <div class="form-group text-center text-danger">
                                    <i class="mdi mdi-alert"></i><br>
                                Your username and password didn't match. Please try again!
                            </div>
                        {% endif %}
              
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                            </div>
                        </div>
                        <!-- <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                <p>Don't have an account? <a href="#" class="text-info m-l-5"><b>Sign Up</b></a></p>
                            </div>
                        </div> -->
                    </form>
                    <form class="form-horizontal" id="recoverform" >
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <h3>Recover Password</h3>
                                    <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" required="" placeholder="Email"> </div>
                            </div>
                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static "tioti/assets/plugins/jquery/jquery.min.js" %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static "tioti/assets/plugins/popper/popper.min.js" %}"></script>
    <script src="{% static "tioti/assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static "tioti/js/jquery.slimscroll.js" %}"></script>
    <!--Wave Effects -->
    <script src="{% static "tioti/js/waves.js" %}"></script>
    <!--Menu sidebar -->
    <script src="{% static "tioti/js/sidebarmenu.js" %}"></script>
    <!--stickey kit -->
    <script src="{% static "tioti/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js" %}"></script>
    <script src="{% static "tioti/assets/plugins/sparkline/jquery.sparkline.min.js" %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static "tioti/js/custom.min.js" %}"></script>
    <!-- <script>
         $("#password-reset").on("click",function(){
            $("#loginform").Slide();
            $("#recoverform").show();

            });
    </script> -->

<!-- <script>
function myfun(){
alert("dshfjs")
    location.reload()
    // location.href = "/index/";
}

</script> -->

    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="{% static "tioti/assets/plugins/styleswitcher/jQuery.style.switcher.js" %}"></script>
</body>

</html>