{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2> Object Annotations</h2>
                <div class = "card">
                    <div class="row m-0">
            {% for folder in annotations %}
            <div class="col-md-4">
            <div class="card"  onclick="select_this_annot('{{folder}}')" style="margin: 5px; cursor: pointer;">
                    <img src="{% static 'assets/images/images.png' %}" alt="" class="card-img-top mx-auto my-auto" style="width: 30%; padding-top: 5px;">
                    <div class="card-body">
                      <p class="card-text">{{folder}}</p>
                    </div>
                  </div>
                  </div>
{% endfor %}
</div>
</div>
</div>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2> Object Image Matrix</h2>
        <div class = "card">
                <div class="row m-0">
                        {% for folder in image_matrix %}
                        <div class="col-md-4">
                        <div class="card"  onclick="select_this_mat('{{folder}}')" style="margin: 5px; cursor: pointer;">
                                <img src="{% static 'assets/images/images.png' %}" alt="" class="card-img-top mx-auto my-auto" style="width: 30%; padding-top: 5px;">
                                <div class="card-body">
                                  <p class="card-text">{{folder}}</p>
                                </div>
                              </div>
                              </div>
            {% endfor %}
            </div>
</div>
</div>
        </div>
        <div class="card">
            <form action="{% url 'train' %}" method = "POST" id="training_forms">
                {% csrf_token %}
                <div class="form-group">
                    <label for=""> DataSet: </label>
                    <input type="text" name="annotate_npy" id="Annot" class="form-control" value=""> 
                </div>
                <div class="form-group">
                    <label for=""> Annotate Data: </label>
                    <input type="text" name="img_npy" id="Img_mat" class="form-control" value = "">
                </div>
                <div class ="form-group">
                    <label for="">Image Annote:</label>
                    <input type="text" name="create_svm" id="" class="form-control">
                </div>
                <button type="submit" class="btn btn-success"> Submit</button>
            </form>
        </div>
    </div>
</div>
{{response}}


{% endblock %}

{% block script_block %}
<script>
    $('#training_forms').submit(function() {
    $('.preloader').css('visibility', 'visible');
});

function select_this_annot(annot){
    document.getElementById("Annot").value = annot;
}

function select_this_mat(mat){
    document.getElementById("Img_mat").value = mat;
}
</script>
{% endblock %}