@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700");
.aem-Grid {
	display: block;
	width: 100%
}

.aem-Grid:after,
.aem-Grid:before {
	display: table;
	content: " ";
	width: 0
}

.aem-Grid:after {
	clear: both
}

.aem-Grid-newComponent {
	clear: both;
	margin: 0
}

.aem-GridColumn {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	clear: both
}

.aem-GridShowHidden>.aem-Grid>.aem-GridColumn {
	display: block!important
}

@font-face {
	font-family: Siemens Sans Roman;
	src: url(../../../../../../etc/designs/siemens-mindsphere/publish/fonts/siemenssans-roman-webfont.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Siemens Sans Bold;
	src: url(../../../../../../etc/designs/siemens-mindsphere/publish/fonts/siemenssans-bold-webfont.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: linearicons;
	src: url(../../../../../../etc/designs/siemens-mindsphere/publish/fonts/linearicons.woff2) format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: linearicons;
	src: url(../../../../../../etc/designs/siemens-mindsphere/publish/fonts/linearicons.woff2) format("woff2");
	font-family: icomoon;
	src: url(../../../../../../etc/designs/siemens-mindsphere/publish/fonts/icomoon.ttf) format("truetype"), url(../../../../../../etc/designs/siemens-mindsphere/publish/fonts/icomoon.svg#icomoon) format("svg");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: Siemens Webicons;
	src: url(../../../../../../etc/designs/siemens-mindsphere/publish/fonts/siemens-webicons.eot);
	src: url(../../../../../../etc/designs/siemens-mindsphere/publish/fonts/siemens-webicons.eot?#iefix) format("embedded-opentype"), url(../../../../../../etc/designs/siemens-mindsphere/publish/fonts/siemens-webicons.woff) format("woff"), url(../../../../../../etc/designs/siemens-mindsphere/publish/fonts/siemens-webicons.ttf) format("truetype"), url(../../../../../../etc/designs/siemens-mindsphere/publish/fonts/siemens-webicons.svg#) format("svg");
	font-weight: 400;
	font-style: normal
}

.demostatistics__container {
	background-color: #081e26;
	min-height: calc(100vh - 60px);
	position: relative;
	width: 100%
}

@media only screen and (min-width:1023px) {
	.demostatistics__container {
		height: 100%;
		overflow: hidden
	}
}

.demostatistics__video {
	position: relative;
	height: 100%;
	width: 100%
}

@media only screen and (min-width:1023px) {
	.demostatistics__video {
		width: calc(100% - 430px);
		overflow: hidden;
		height: calc(100vh - 88px)
	}
}

.demostatistics__video video {
	position: relative;
	min-width: 100vw;
	min-height: unset;
	width: 100vw;
	vertical-align: top
}

@media only screen and (min-width:1023px) {
	.demostatistics__video video {
		min-height: 100%;
		display: block;
		position: absolute;
		top: -9999px;
		bottom: -9999px;
		left: -9999px;
		right: -9999px;
		margin: auto;
		width: auto;
		min-width: 100%;
		max-width: none;
		-o-object-fit: cover;
		object-fit: cover
	}
}

.demostatistics__world .demostatistics__video {
	width: auto
}

.demostatistics__time {
	position: absolute;
	bottom: 10px;
	left: 12px
}

.demostatistics__time-clock {
	color: #fff;
	font-family: Anonymous Pro, monospace;
	font-weight: 700;
	font-size: 22px;
	vertical-align: middle
}

.demostatistics__time-image {
	display: inline-block;
	vertical-align: middle
}

.demostatistics__navigation {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-flow: row-reverse;
	-ms-flex-flow: row-reverse;
	flex-flow: row-reverse;
	margin-top: 30px;
	padding-bottom: 30px;
	padding-top: 30px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%
}

@media only screen and (min-width:1023px) {
	.demostatistics__navigation {
		position: absolute;
		top: 5px;
		right: 0;
		z-index: 10;
		width: 430px
	}
}

.demostatistics__navigation-button {
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
	text-decoration: none
}

.demostatistics__navigation-button:first-child {
	margin-right: 0
}

.demostatistics__navigation-button:before {
	font-family: icomoon;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	content: "";
	color: hsla(0, 0%, 100%, .5);
	border-radius: 50%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 0;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-box-shadow: 0 0 0 2px hsla(0, 0%, 100%, .5);
	box-shadow: 0 0 0 2px hsla(0, 0%, 100%, .5);
	font-size: 28px;
	width: 36px;
	height: 36px
}

@media screen and (min-width:599px) {
	.demostatistics__navigation-button:before {
		font-size: 35px;
		width: 60px;
		height: 60px
	}
}

@media only screen and (min-width:767px) {
	.demostatistics__navigation-button:before {
		font-size: 50px;
		width: 90px;
		height: 90px
	}
}

@media only screen and (min-width:1023px) {
	.demostatistics__navigation-button:before {
		font-size: 35px;
		width: 50px;
		height: 50px
	}
}

.demostatistics__navigation-button:hover:before {
	color: #fff;
	-webkit-box-shadow: 0 0 0 2px #41aaaa;
	box-shadow: 0 0 0 2px #41aaaa
}

.demostatistics__navigation-button.world:before {
	content: "\e90d"
}

.demostatistics__navigation-button.windfarm:before {
	content: "\e90a"
}

.demostatistics__navigation-button.train:before {
	content: "\e90c";
	font-size: 14px
}

@media only screen and (min-width:599px) {
	.demostatistics__navigation-button.train:before {
		font-size: 25px
	}
}

@media only screen and (min-width:767px) {
	.demostatistics__navigation-button.train:before {
		font-size: 30px
	}
}

@media only screen and (min-width:1023px) {
	.demostatistics__navigation-button.train:before {
		font-size: 21px
	}
}

.demostatistics__navigation-button.smartcity:before {
	content: "\e90b";
	font-size: 22px
}

@media only screen and (min-width:599px) {
	.demostatistics__navigation-button.smartcity:before {
		font-size: 30px
	}
}

@media only screen and (min-width:767px) {
	.demostatistics__navigation-button.smartcity:before {
		font-size: 40px
	}
}

@media only screen and (min-width:1023px) {
	.demostatistics__navigation-button.smartcity:before {
		font-size: 31px
	}
}

.demostatistics__navigation-button.brewery:before {
	content: "\e909";
	font-size: 22px
}

@media only screen and (min-width:599px) {
	.demostatistics__navigation-button.brewery:before {
		font-size: 32px
	}
}

@media only screen and (min-width:767px) {
	.demostatistics__navigation-button.brewery:before {
		font-size: 40px
	}
}

@media only screen and (min-width:1023px) {
	.demostatistics__navigation-button.brewery:before {
		font-size: 31px
	}
}

.demostatistics__navigation-button--active:before {
	color: #fff;
	-webkit-box-shadow: 0 0 0 2px #41aaaa;
	box-shadow: 0 0 0 2px #41aaaa
}

.demostatistics__sidekick {
	background-color: #081e26;
	overflow: auto;
	color: #fff;
	height: 100%;
	min-width: 280px;
	padding: 0 20px 60px
}

@media only screen and (min-width:767px) {
	.demostatistics__sidekick {
		padding: 0 70px 60px
	}
}

@media only screen and (min-width:1023px) {
	.demostatistics__sidekick {
		position: absolute;
		z-index: 5;
		top: 0;
		right: 0;
		width: 370px;
		padding: 160px 30px 60px;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
		height: calc(100% - 220px)
	}
}

.demostatistics__sidekick h3 {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	display: block;
	font-family: Siemens Sans Roman, Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: 400;
	height: 30px;
	line-height: 30px;
	text-align: left;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	margin-bottom: 20px
}

.demostatistics__sidekick p {
	width: 100%;
	font-size: 16px;
	line-height: 19px;
	color: hsla(0, 0%, 100%, .5);
	letter-spacing: -.5px
}

.demostatistics__sidekick-content {
	opacity: 0;
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}

.demostatistics__sidekick-data {
	margin-top: 40px
}

.demostatistics__sidekick-data-head {
	margin-bottom: 40px
}

.demostatistics__sidekick-data-title {
	display: block;
	font-size: 24px
}

.demostatistics__sidekick-data-value {
	font-size: 60px
}

@media only screen and (min-width:767px) {
	.demostatistics__sidekick-data-value {
		font-size: 90px
	}
}

.demostatistics__sidekick-data-unit {
	font-size: 24px;
	letter-spacing: 0;
	margin-left: 5px
}

.demostatistics__sidekick-chart-container {
	margin: 20px 0
}

.demostatistics__sidekick-chart-container .axis path.domain {
	visibility: hidden
}

.demostatistics__sidekick-chart-container .axis .tick line {
	stroke: #4b636d
}

.demostatistics__sidekick-chart-container .axis .tick text {
	visibility: hidden
}

.demostatistics__sidekick-chart-container .line {
	fill: none
}

.demostatistics__sidekick-chart-container--hidden {
	display: none
}

.demostatistics__sidekick-chart-container-now video {
	width: 100%
}

.demostatistics__sidekick-chart-buttons {
	margin-left: 5px
}

@media only screen and (min-width:767px) {
	.demostatistics__sidekick-chart-buttons {
		margin-bottom: 40px
	}
}

.demostatistics__sidekick-chart-buttons .chart-type-button {
	font-family: Siemens Sans Roman, Helvetica, Arial, sans-serif;
	background: none;
	border: 0;
	outline: none;
	color: #fff;
	border-radius: 15px;
	-webkit-box-shadow: 0 0 0 2px hsla(0, 0%, 100%, .25);
	box-shadow: 0 0 0 2px hsla(0, 0%, 100%, .25);
	margin: 0 0 20px 5px;
	-webkit-transition: -webkit-box-shadow .3s ease-in-out;
	transition: -webkit-box-shadow .3s ease-in-out;
	transition: box-shadow .3s ease-in-out;
	transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
	cursor: pointer;
	font-size: 12px;
	padding: 5px 12px
}

@media only screen and (min-width:767px) {
	.demostatistics__sidekick-chart-buttons .chart-type-button {
		margin-bottom: 40px;
		font-size: 16px;
		padding: 5px 15px;
		margin-right: 5px
	}
}

.demostatistics__sidekick-chart-buttons .chart-type-button--active,
.demostatistics__sidekick-chart-buttons .chart-type-button:hover {
	-webkit-box-shadow: 0 0 0 2px #41aaaa;
	box-shadow: 0 0 0 2px #41aaaa
}

.demostatistics__sidekick-chart-keys {
	margin-top: 40px
}

.demostatistics__sidekick-chart-keys .chart-key {
	display: inline-block;
	font-family: Siemens Sans Roman, Helvetica, Arial, sans-serif;
	font-size: 14px
}

.demostatistics__sidekick-chart-keys .chart-key span {
	display: inline-block;
	margin-right: 15px;
	font-size: 14px;
	position: relative;
	top: -2px
}

.demostatistics__sidekick-chart-keys .chart-key .chart-mark {
	border-radius: 2px;
	background: #fff;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 0 5px 0 0;
	position: relative
}

.demostatistics__sidekick-chart-keys .chart-key .chart-mark:before {
	content: "";
	display: block;
	position: absolute;
	width: 11px;
	height: 11px;
	top: 2px;
	left: 2px
}

.demostatistics__sidekick-chart-keys .chart-key .wind-one:before {
	background-color: #50bed7
}

.demostatistics__sidekick-chart-keys .chart-key .wind-two:before {
	background-color: #af235f
}

.demostatistics__sidekick-chart-keys .chart-key .wind-three:before {
	background-color: #ffb800
}

.demostatistics__sidekick-codebox,
.demostatistics__sidekick-codebox-endpoint {
	margin-top: 60px
}

.demostatistics__sidekick-codebox-endpoint .request-type {
	display: inline-block;
	text-transform: uppercase;
	font-family: Siemens Sans Bold, Helvetica, Arial, sans-serif;
	width: auto;
	max-width: 30%;
	color: #41aaaa;
	vertical-align: top;
	padding-top: 3px
}

.demostatistics__sidekick-codebox-endpoint .path {
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	width: 70%
}

.demostatistics__sidekick-codebox-endpoint .path p {
	color: #fff;
	letter-spacing: 0
}

.demostatistics__sidekick-codebox-endpoint .path p span {
	color: #41aaaa
}

.demostatistics__sidekick-codebox-tabs {
	position: relative;
	margin-top: 40px;
	margin-bottom: 20px
}

.demostatistics__sidekick-codebox-tabs .tab {
	padding: 0;
	position: relative;
	display: inline-block;
	margin: 0 10px;
	-webkit-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
	cursor: pointer;
	color: #3f545c
}

.demostatistics__sidekick-codebox-tabs .tab--active,
.demostatistics__sidekick-codebox-tabs .tab:hover {
	color: #41aaaa
}

.demostatistics__sidekick-codebox-tabs .code-copy {
	background: none;
	padding: 0;
	border: 0;
	outline: none;
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 4px;
	color: #fff;
	font-size: 14px;
	overflow: hidden
}

.demostatistics__sidekick-codebox-tabs .code-copy span {
	opacity: 0;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	display: inline-block
}

.demostatistics__sidekick-codebox-tabs .code-copy span.demostatistics__sidekick-codebox-copy--active {
	opacity: 1;
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px)
}

.demostatistics__sidekick-codebox-tabs .code-copy:hover:after {
	color: #41aaaa
}

.demostatistics__sidekick-codebox-tabs .code-copy:after {
	content: "\e90e";
	display: inline-block;
	position: relative;
	font-family: icomoon;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: hsla(0, 0%, 100%, .25);
	-webkit-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
	font-size: 22px;
	margin-left: 2px
}

.demostatistics__sidekick-codebox-code {
	background: hsla(0, 0%, 100%, .12);
	padding: 20px;
	margin: 0;
	width: 100%;
	max-height: 470px;
	overflow: auto
}

.demostatistics__sidekick-codebox-code::-webkit-scrollbar {
	width: 5px;
	height: 5px
}

.demostatistics__sidekick-codebox-code::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 20px
}

.demostatistics__sidekick-codebox-code::-webkit-scrollbar-track {
	background: #ddd;
	border-radius: 20px
}

.demostatistics__sidekick-codebox-code code {
	font-family: Anonymous Pro, monospace;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 1px
}

.demostatistics__sidekick-codebox-code code span.key {
	color: #50bed7;
	font-weight: 700
}

.demostatistics__sidekick-codebox-code-copy {
	position: absolute;
	z-index: -10;
	overflow: hidden;
	max-height: 0;
	max-width: 0;
	opacity: 0
}

.demostatistics__sidekick-about {
	margin-top: 40px
}

.demostatistics__sidekick-about h4 {
	margin-bottom: 5px
}

.demostatistics__sidekick-about p {
	width: 100%;
	font-size: 16px;
	line-height: 18px;
	color: hsla(0, 0%, 100%, .5)
}

.demostatistics__sidekick-parameters {
	background: hsla(0, 0%, 100%, .12);
	padding: 20px;
	margin: 0;
	width: 100%;
	max-height: 470px;
	overflow: auto
}

.demostatistics__sidekick-parameters-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px
}

.demostatistics__sidekick-parameters-content:last-child {
	margin-bottom: 0
}

.demostatistics__sidekick-parameters-type {
	width: 84px;
	text-align: left;
	padding-right: 20px
}

.demostatistics__sidekick-parameters-type p {
	font-size: 14px;
	color: #41aaaa;
	font-family: Siemens Sans Bold, Helvetica, Arial, sans-serif
}

.demostatistics__sidekick-parameters-info {
	width: 70%
}

.demostatistics__sidekick-parameters-info p {
	font-size: 14px;
	line-height: 18px;
	color: hsla(0, 0%, 100%, .5)
}

.demostatistics__sidekick-parameters-info p span {
	color: #41aaaa
}

.demostatistics__sidekick-parameters-info ul {
	margin: 30px 0 0 15px;
	padding: 0;
	font-size: 14px;
	list-style: circle
}

.demostatistics__sidekick-parameters-info ul li {
	margin-bottom: 15px
}

.demostatistics__sidekick-tab--hidden {
	display: none
}

.demostatistics__sidekick-footer {
	padding-top: 80px;
	text-align: center
}

.demostatistics__sidekick-footer h2 {
	font-size: 30px;
	margin-bottom: 10px
}

.demostatistics__sidekick-footer p {
	color: #fff;
	width: 270px;
	margin: 0 auto 40px;
	line-height: 22px
}

.demostatistics__sidekick-footer .button a {
	width: 200px
}

.demostatistics__sidekick-content--in-view {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0)
}

.demostatistics__sidekick-content--out-view {
	opacity: 0;
	-webkit-transform: translateY(100px);
	transform: translateY(100px)
}

.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--12 .aem-GridColumn.demostatistics {
	padding: 0;
	width: 100vw;
	margin: 0 -10px
}

@media screen and (min-width:1365px) {
	.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--12 .aem-GridColumn.demostatistics {
		margin: 0 -65px
	}
}
